#primary-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#header-container {
    border-bottom: 1px solid #e6e6e6;
}

#action-container {
    align-self: center;
    height: 100%;
    width: 100%;
}

#footer-container {
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
    height: 35px;
}

#navigation-container {
    display: flex;
    width: 100%;
    & div {
        border-radius: 0;
    }
}

.navigation-item {
    margin: 5px;
    padding: 5px;
   
}

.navigataion-items-settings {
    /* align-self: stretch; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  
}

.action-container-content {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.action-container-subnav {
    display: flex;
    width: 100%;
}

.items-list {
    overflow-y: auto;
}

.items-list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e6e6;
}

.items-list-item .label {
    margin-left: 10px;
    
}

.items-list-item-alwaysdisplay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  
}

.items-list-item-expanded {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px;
}

.hide {
    display: none;
}