#primary-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2c2c2c; 
  color: rgba(255, 255, 255, 1);
}

#header-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#action-container {
    align-self: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#footer-container {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
    height: 35px;
}

#navigation-container {
    display: flex;
    width: 100%;
    & div {
        border-radius: 0;
    }
}

.navigation-item {
    margin: 5px;
    padding: 5px;
   
}

.navigataion-items-settings {
    /* align-self: stretch; */
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  
}

.action-container-content {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 10px;
}

.action-container-subnav {
    display: flex;
    width: 100%;
    padding: 0px 15px 0px 10px;
 
}

.action-container-search {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.items-list {
    overflow-y: auto;
}

.items-list-item {
    display: flex;
    flex-direction: column;
    
}

.items-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.items-list-item .label {
    margin-left: 5px;
    font-weight: bold;
}

.items-list-item-alwaysdisplay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
  
}

.items-list-item-expanded {
    width: 100%;
    padding: 0 5px;
    align-items: center;
    /* padding: 0 15px 15px 15px; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 0px;
    color:rgba(255, 255, 255, 0.8);
    
}

.hide {
    display: none;
}

.pop-menu-container {

    padding: 15px;
    background-color: #000000;
    color: #ffffff;
}

.menu-container {
    display: flex;
    position: relative;
}

.menu-listener {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.menu {
    display: flex column;
    background-color: #000000;
    color: #fff;
    max-width: 150px;
    z-index: 300;
    cursor: cursor;
    position: absolute;
}

.menu .active {
    background-color: #0d99ff;
}

.menu-option {
    padding: 10px;
  }

.menu-option-warning {
    padding: 10px;
}

.menu-option:hover {
    background-color: #0d99ff;
}

.menu-option-warning:hover {
    background-color: #ff0d31;
}

.flex-center {
    display: flex;
    align-items: center;
}

.notes {
    padding-left: 5px;
    width: 100%;
    height: 100px;
    outline: none;
    resize: none;
    background: transparent;
}

.text-input {
    width: 100%;
    background: transparent;
    padding: 5px;
    border-radius: 2px;
}

.text-input:focus {
    border: 2px solid #0d99ff;
}

.text-input-warning {
    width: 100%;
    background: transparent;
    padding: 5px;
    border-radius: 2px;
}

.text-input-warning:focus {
    border: 2px solid #ff0d31;
}

.text-input-readonly {
    width: 100%;
    background: transparent;
    padding: 5px;
    border-radius: 2px;
}

.select select {
    background: transparent;
    font-size: 1em;
    padding: 5px;
}

.detail-card {
    position: absolute;
    padding: 5px;
    margin-top: -50px;
    margin-left: 0px;
    width: 120px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: "#ffffff";
    font-weight: 400;
}